.navBarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navColor {
  background: #102547;
}

.navText {
  color: white !important;
  font-weight: bold;
}

.navBarItemColor {
  background: #102547 !important;
}



